*{
	font-family: "Poppins";
	font-weight: 300;
}

body{
	margin: 0px;
}

#title{
	background-image: url(https://images.unsplash.com/photo-1606669059257-19fc4ca49f79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2168&q=80);
	background-size: 100% 150%; /*width and height*/
	background-position: center bottom;	

	height: 600px;
	padding	: 0;	
	margin: 0;
}

#title h1{
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	padding: 200px 0 0 0;
	margin: 0;
	color: white;
}

#title h4{
	font-size: 1.2em;
	color: white;
	text-align: center;
	margin: 0;
}

#title p{
	font-size: 0.5em;
	color: white;
	text-align: center;
	margin: 0;
}

#title-menu-bar {
	max-width: 1040px;
	margin: auto;

	font-size: 0.85em;
	padding-top: 160px;
}

#title-menu-bar a{
	text-decoration: none;
	color: white;
}

button{
	background-color: rgb(53, 54, 58);
	color: white;
	border: none;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
}

#feed-outer{
	background-color: rgb(244,248,251);	
	margin: 0;
	padding: 0;
}

#feed-inner{
	position: relative;
	top: -80px;
	margin: auto;
	
	min-height: 100vh;
	max-width: 1040px;
}

#feed-inner a{
	text-decoration: none;
	color: black;
}

.card{
	border-radius: 5px;	
	margin: 0px 0px 80px;
	background: #fff;
	box-shadow: 8px 8px 14px 38px rgba(0, 0, 0, 0.002);
	transition: all 0.5s;
	overflow: hidden;
	
	display: flex;
	display: -ms-flexbox;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;	
	-ms-flex-wrap: wrap;
}

.card:hover{
	box-shadow: 0 0 0  rgba(0, 0, 0, 0.02);
	transition: all 0.3s ease;
}

.card ul{
	font-size: 0.9em;
}


.card_photo{
	background-position: center; 
	background-size: 150%; /*width and height*/
	-ms-flex: 2 2 0;
	flex: 2 2 0;
	height: 350px;
	min-width: 500px;

}

.card_desc{
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	min-width: 250px;
}




/* 
---------Other Miscellaneous Settings----------
 */

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
